img {
  width: 100%;
}

.col-md-6 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

.btn-success {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fido {
  display: none;
}
